.App {
  text-align: center;
  position: relative;
  margin: 0 auto;
  background-color: #00bdaa;
  height: 90vh;
  width: 500px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  font-family: "Mulish", sans-serif;
}

.App-title {
  background-color: #400082;
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: left;
  padding-left: 10px;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.App-add-todo-btn {
  background-color: #fe346e;
  color: white;
  border-radius: 50%;
  padding: 20px;
  width: 100px;
  height: 100px;
  font-size: 3rem;
  border: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.App-add-todo-btn:hover {
  background-color: #f85d89;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
