.ToDoForm {
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;

  display: flex;
  flex-direction: column;
}

.ToDoForm-input {
  font-size: 1.5rem;
  padding: 1.2rem;
  border-radius: 10px;
  border: none;
  width: 70%;
}

.ToDoForm-btn {
  background-color: #fe346e;
  color: white;
  width: 12%;

  font-size: 3rem;
  border: none;
  /* display: inline; */
  margin: 0;
  border-radius: 10px;
}
