.ToDo {
  color: white;
  border-bottom: 1px solid white;
  padding: 10px;
  width: 500px;

  display: flex;
  align-items: center;
}

.ToDo:hover {
  background-color: #fe346e;
}

.ToDo-text {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 10px;
  text-align: left;
  width: 85%;
}
/* 
.ToDo-text::after {
  display: block;
  content: " ";
  width: 100%;
  height: 1px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
} */

.ToDo-icon {
  display: none;
}

.ToDo:hover .ToDo-icon {
  display: block;
  font-size: 2rem;
}
